/* MAIN STRUCTURE */

body {
    background: #DBDFFE;
    margin: 0;
    height: 100vh;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #FA3B80;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    position: relative;
    z-index: 100;
}

footer {
    background: #A50C43;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #FFF;
    font-size: .75rem;
}

/* CONTAINERS */

.logo{
    display: flex;
}

.main__note-board {
    display: block;
}

.main__create-note {
    background: #FFF;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    display: none;
}

.note__overflow {
    overflow-y: scroll;
    height: 70vh;
}

.note__board {
    margin: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    grid-gap: 1rem;
}

/* ELEMENTS */

.note {
    background: #FFF;
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.12); 
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.12);
    padding: 0 .75rem;
    box-sizing: border-box;
    overflow: hidden;
}

.bottom__app-bar {
    background: #FA3B80;
    position: absolute;
    bottom: 0;
    height: 16%;
    width: 100%;
    text-align: center;
}

/* TEXT */

.logo__title {
    margin: .5rem 0;
    padding-left: .75rem;
    font-weight: 400;
}

.footer__paragraph {
    margin: 8px;
}

/* FORM */

.create__note {
    margin-top: 20%;
    width: 100%;
    height: 60%;
}

.create__note--textarea {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: #333;
    padding: 1.5rem;
    border: none;
}

.create__note--textarea:focus {
    outline: none;
}

/* BUTTONS */

.btn {
    border-radius: 50%;
    position: relative;
    top: -70%;
    text-align: center;
    font-size: 17vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

.btn__add {
    width: 20vh;
    height: 20vh;
    border: 2vh solid #DBDFFE;
    background: #43FFA5;
}

.btn__save {
    width: 20vh;
    height: 20vh;
    border: 2vh solid #FFF;
    background: #43FFA5;
}

.btn__delete {
    width: 3rem;
    height: 3rem;
    border: none;
    background: #FFD466;
    visibility: hidden;
}

/* ICONS */

.logo__icon {
    width: 3rem;
    height: 3rem;
    background-image: url(img/Pin_Logo.svg);
    background-size: contain;
}

.add__icon {
    width: 5rem;
    height: 5rem;
    background-image: url(img/add_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.save__icon {
    width: 5rem;
    height: 5rem;
    background-image: url(img/done_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.delete__icon {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(img/delete_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* MOBILE */

@media only screen and (min-width: 576px) {

    header {
        padding-right: 2rem;
        box-sizing: border-box;
    }
    
    .note__overflow {
        height: 80vh; 
    }
}

@media only screen and (min-width: 768px) {
    
    .note__board {
        grid-template-columns:repeat(auto-fill, minmax(300px , 1fr));
        grid-auto-rows: 1fr;
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media only screen and (min-width: 992px) {

    .create__note {
        margin-top: 7%;
        height: 70%;
    }
    
    .bottom__app-bar {
        height: 10%;
        text-align: right;
        padding: 0 10%;
        box-sizing: border-box;
    }

    .btn {
        top: -55%;
    }

    .btn:hover {
        transform: scale(0.95);
        cursor: pointer;
    }

    .btn__add {
        width: 10vh;
        height: 10vh;
        border: 1vh solid #DBDFFE;
    }

    .btn__save {
        width: 10vh;
        height: 10vh;
        border: 1vh solid #FFF;
    }
    
    .add__icon,
    .save__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .main__create-note {
        width: 100%;
        overflow: hidden;
    }
}